@import 'variables.scss';
@import 'mixin-tamano.scss';

body{
    background-color: $azul-oscuro;
}
.container{
    #diseno-mobile{
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
        margin: 20px;
    }   
}
.cuadro-login{
    background-color: $azul-mas-oscuro;
    position: relative;
    top: 100px;
    border-radius: 10px;
    z-index: 99;
}
.logo{
    @include tamano(100px, 100px, $color-piel);
    border-radius: 50%;
    margin-top: 50px;
    position: relative;
    left: 130px;
    &:before{
        content: 'S-S';
        position: relative;
        font-size: 2.5em;
        font-family: 'Nova Slim';
        left: 20px;
    }
}
.subtitulo{
    color: $color-piel;
    font-family: 'Nova Slim';
}
.ovalo{
    @include tamano(140px, 30px, $verde-claro);
    border-radius: 20px;
    position: relative;
    left: 15px;
    p{
        font-weight: bold;
        position: relative;
        left: 10px;
    }
}
.color-btn{
    background-color: $verde-claro;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 50px; 
}
.icon-mobile{
    position: relative;
    top: 25px;
    left: -20px;
}
.icon-notification{
    position: absolute;
    top: 3px;
    left: 3px;
}

@include responde($tamano-celular){
    .logo{
        left: 190px;
    }
    .ovalo{
        left: 60px;
    }
}

@include responde($tamano-mediano){
    .ovalo{
        left: 40px;
    }
}

@include responde($tamano-extraLargo){
    .logo{
        left: 210px;
    }
    .ovalo{
        left: 60px;
    }
}